<!DOCTYPE html>
<html ng-app="list">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<script>
   var app=angular.module("myapp",function($scope){
       $scope.collection=[{name:"ram"},{name:"shyam"},{name:"raghu"}];
       $scope.addEntry=function(){
           $scope.collection.push({name:$scope.newData});
       };
   });
</script>
    <div ng-controller="myapp">
    <ul>
        <li ng-repeat="entry in list">{{}entry.name}</li>
        </ul>
        <input type="text" ng-model="newData">
        <button ng-click="addEntry()">add</button>
    </div>
    </body>
</html>